.venv/
__pycache__/
.pytest_cache/
.ipynb_checkpoints/
mlruns/
models/*
artifacts/*
reports/*
data/
*.pyc
!models/.gitkeep
!artifacts/.gitkeep
!reports/.gitkeep
!models/credit_default_pipeline.joblib
!artifacts/flaml.log
!reports/test_monitoring_report.html
!reports/changed_test_monitoring_report.html
.env
